/* responsive design */
/* mobile device */
@media screen and (max-width:576px) {
    .header-1{
        height: auto;
        flex-direction: column;
    }
    .four-image{
        grid-template-columns:  1fr;
    }

}

@media screen and (min-width:576.1px) and (max-width: 992px) { 
    .header-1{
        height: auto;
        flex-direction: column;
    }
    
}